{{page-title 'Survey Netlify'}}

<div class='min-h-full'>
  <SnHeader />

  <main class='-mt-32'>
    <div class='max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8'>
      <div class='bg-white rounded-lg shadow px-5 py-6 sm:px-6'>
        {{outlet}}
      </div>
    </div>
  </main>

  <SnFooter />
</div>